*{
    display: block;
}
#family{
    color: crimson;
    font-size: 30px;
    background-color: black;
}
#family-name{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
}
#gparents{
    text-align: center;
    font-size: 40px;
    color: yellow;
}
#parent{
    color: aquamarine;
    font-size: 30px;
    text-align: center;
}